<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vpn </title>
</head>

<body>


    <template>
        <div>
            <form @submit.prevent="login">
                <label for="username">Username:</label>
                <input type="text" id="username" v-model="username" />
                <br />
                <label for="password">Password:</label>
                <input type="password" id="password" v-model="password" />
                <br />
                <button type="submit">Login</button>
            </form>
        </div>
    </template>

    <script>
        import axios from 'axios';

        export default {
            data() {
                return {
                    username: '',
                    password: '',
                };
            },
            methods: {
                async login() {
                    try {
                        const response = await axios.post('/login', {
                            username: this.username,
                            password: this.password,
                        });
                        // handle successful login
                    } catch (error) {
                        // handle login error
                    }
                },
            },
        };
    </script>
</body>

</html>